@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "MontserratThin";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf)
}

@font-face {
    font-family: "MontserratItalic";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 10;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-left: 20px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 40px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    transition: color 0.3s, transform 0.3s;
    position: relative;
}

.nav-links li a:hover {
    color: #0308aa;
    transform: scale(1.1);
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #0308aa;
    transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
    width: 100%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-left: 0;
    }

    .nav-links {
        margin-right: 0;
        margin-top: 20px;
    }

    .nav-links li {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 1rem 1rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .nav-links li a {
        font-size: 1rem;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-top: 0;
}

video.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .video-container {
        height: 80vh;
    }
}

@media (max-width: 480px) {
    .video-container {
        height: 70vh;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

}

.content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.content p {
    font-size: 1.25rem;
    margin-top: 1rem;
}

body {
    padding-bottom: 100px;
}

.container-text {
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


.presentation {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #ffffff;
    margin-top: 100px;
}

.presentation h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.presentation h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
}

.presentation p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .presentation {
        padding: 1rem 0.5rem;
    }

    .presentation h1 {
        font-size: 2rem;
    }

    .presentation p {
        font-size: 1rem;
        max-width: 600px;
    }
}

@media (max-width: 480px) {
    .presentation {
        padding: 0.5rem 0.2rem;
    }

    .presentation h1 {
        font-size: 1.5rem;
    }

    .presentation p {
        font-size: 0.9rem;
        max-width: 400px;
    }
}

.pilares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pilar {
    width: 25%;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid rgba(167, 167, 167, 0.822);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pilares a {
    text-decoration: none;
    color: inherit;
}

.pilar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cultura {
    width: 100%;
    height: 150px;
    background-image: url('../img/cultura.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.gastronomia {
    width: 100%;
    height: 150px;
    background-image: url('../img/gastronomia.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.paisajes {
    width: 100%;
    height: 150px;
    background-image: url('../img/paisajes.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.moda {
    width: 100%;
    height: 150px;
    background-image: url('../img/moda.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.pilar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.pilar p {
    font-size: 14px;
    color: #666;
    margin-top: -20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .pilar {
        width: 50%;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .pilar {
        width: 100%;
        margin: 5px;
    }
}

.mapa-container {
    width: 100%;
    margin-top: 150px;
    padding: 0;
}

.mapa-container iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

@media (max-width: 768px) {
    .mapa-container iframe {
        height: 80vh;
    }
}

@media (max-width: 480px) {
    .mapa-container iframe {
        height: 60vh;
    }
}

.secciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.seccion1 {
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 64, 0);
    border: 0.5px solid rgba(167, 167, 167, 0.822);
    text-align: center;
}

.seccion2 {
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color: rgb(113, 0, 6);
    border: 0.5px solid rgba(167, 167, 167, 0.822);
    text-align: center;
}

.seccion3 {
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color: rgb(73, 6, 102);
    border: 0.5px solid rgba(167, 167, 167, 0.822);
    text-align: center;
}

.seccion4 {
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color: rgb(9, 3, 112);
    border: 0.5px solid rgba(167, 167, 167, 0.822);
    text-align: center;
}

.seccion1 h3,
.seccion2 h3,
.seccion3 h3,
.seccion4 h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

.seccion1,
.seccion2,
.seccion3,
.seccion4 {
    width: 200px;
    color: white;
    border-radius: 10px;
    border: 0.5px solid rgba(167, 167, 167, 0.822);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.seccion1:hover,
.seccion2:hover,
.seccion3:hover,
.seccion4:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.secciones-container a {
    text-decoration: none;
}

@media (max-width: 768px) {

    .seccion1,
    .seccion2,
    .seccion3,
    .seccion4 {
        width: 40%;
        margin: 10px;
    }
}

@media (max-width: 480px) {

    .seccion1,
    .seccion2,
    .seccion3,
    .seccion4 {
        width: 80%;
        margin: 5px;
    }
}

.naturaleza {
    width: 100%;
    height: 150px;
    background-image: url('../img/naturaleza.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.arteCultura {
    width: 100%;
    height: 150px;
    background-image: url('../img/arteCultura.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.enogastronomia {
    width: 100%;
    height: 150px;
    background-image: url('../img/enogastronomia.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.deportes {
    width: 100%;
    height: 150px;
    background-image: url('../img/deportes.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.galeria {
    background-color: #ffffff;
    padding: 0px 40px;
    text-align: center;
    margin-bottom: 5%;
}

.galeria h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    margin-top: 200px;
}

.galeria h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 50px;
    margin-top: 0;
}

.galeria p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    margin-bottom: 100px;
}


.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.collage.aparece {
    transform: scale(1);
    opacity: 1;
    animation: entrada 1s;
}

.florencia {
    background-image: url('../img/florencia.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
}

.milan {
    background-image: url('../img/milan.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
}

.lagos {
    background-image: url('../img/lagos.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
}

.napoles {
    background-image: url('../img/napoles.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
}

.pompeya {
    background-image: url('../img/pompeya.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
}

.pisa {
    background-image: url('../img/pisa.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px;
}

.florencia:hover,
.milan:hover,
.lagos:hover,
.napoles:hover,
.pompeya:hover,
.pisa:hover {
    transform: translateZ(50px) scale(1.2);
    transition: transform 0.8s;
}

@media (max-width: 768px) {
    .galeria {
        padding: 0px 20px;
    }

    .galeria h1 {
        font-size: 2rem;
    }

    .galeria p {
        font-size: 1rem;
        max-width: 600px;
    }
}

@media (max-width: 480px) {
    .galeria {
        padding: 0px 10px;
    }

    .galeria h1 {
        font-size: 1.5rem;
    }

    .galeria p {
        font-size: 0.9rem;
        max-width: 400px;
    }
}

@media (max-width: 768px) {

    .florencia,
    .milan,
    .lagos,
    .napoles,
    .pompeya,
    .pisa {
        height: 200px;
    }
}

@media (max-width: 480px) {

    .florencia,
    .milan,
    .lagos,
    .napoles,
    .pompeya,
    .pisa {
        height: 150px;
    }
}

.aboutHeader img {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .aboutHeader img {
        height: 80vh;
    }
}

@media (max-width: 480px) {
    .aboutHeader img {
        height: 60vh;
    }
}

.apartados {
    padding: 40px 20px;
    background-color: #ffffff;
    margin-top: 20px;
}

.titulo-principal {
    text-align: center;
    margin-bottom: 120px;
    font-size: 1.8rem;
}

.titulo-principal h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.titulo-principal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
}

.apartado {
    margin-top: 100px;
    margin: 30 auto;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.img1 {
    flex: 1;
    background-image: url('../img/cultura.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 220px;
}

.img2 {
    flex: 1;
    background-image: url('../img/gastronomia.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 240px;
}

.img3 {
    flex: 1;
    background-image: url('../img/paisajes.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 240px;
}

.img4 {
    flex: 1;
    background-image: url('../img/moda.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 240px;
}

.texto-culture,
.texto-gastronomy,
.texto-landscape,
.texto-fashion {
    flex: 2;
}

.section-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
}

.section-culture {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

.section-culture2 {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

@media (max-width: 768px) {

    .img1,
    .img2,
    .img3,
    .img4 {
        height: 200px;
        min-height: 150px;
    }
}

@media (max-width: 480px) {

    .img1,
    .img2,
    .img3,
    .img4 {
        height: 150px;
        min-height: 100px;
    }
}

.oficina-turismo {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

.oficina-turismo h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
}

.oficina-turismo h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.oficina-turismo p {
    font-size: 18px;
    text-align: center;
}


.equipo-empresa {
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
}

.titulo-empleados {
    text-align: center;
    margin-bottom: 120px;
    font-size: 1.8rem;
}

.titulo-empleados h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.titulo-empleados p {
    font-size: 18px;
    text-align: center;
}

.titulo-empleados h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
}

.toursHeader {
    background-image: url('../img/toursHeader.jpg');
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

#tours {
    padding: 50px 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

#tours h2 {
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 20px;
}

#tours p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.tour {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}


.tour-image {
    width: 50%;
    border-radius: 10px;
}

.tour-info {
    width: 50%;
    text-align: left;
}

.tour-info h3 {
    font-size: 1.8em;
    color: #000000;
    margin-bottom: 10px;
}

.tour-info p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #553;
}

.tour-info p strong {
    color: #000000;
}

@media (max-width: 768px) {
    .tour {
        flex-direction: column;
        align-items: center;
    }

    .tour-image {
        width: 100%;
    }

    .tour-info {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    #tours h2 {
        font-size: 2em;
    }

    #tours p {
        font-size: 16px;
    }

    .tour-info h3 {
        font-size: 1.5em;
    }

    .tour-info p {
        font-size: 0.9em;
    }
}

.intereses {
    text-align: center;
    margin-bottom: 120px;
    font-size: 1.3rem;
    padding: 10px;
}

.intereses h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.intereses h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0;
}

.nature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-bottom: 100px;
    padding: 30px;
}

.imagen-naturaleza {
    background-image: url("../img/nature.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.imagen-art {
    background-image: url("../img/arteCultura.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.imagen-gastro {
    background-image: url("../img/gastronomia.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.imagen-fashion {
    background-image: url("../img/deportes.jpg");
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    margin-right: 20px;
}

.texto-nature {
    margin-left: 50px;
}

.section-title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000000;
    text-align: left;
}

.section-naturaleza {
    margin-right: 10px;
    font-size: 1.1rem;
    color: #555;
}

@media (max-width: 768px) {

    .imagen-naturaleza,
    .imagen-art,
    .imagen-gastro,
    .imagen-fashion {
        width: 100%;
        height: 200px;
        min-height: 150px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {

    .imagen-naturaleza,
    .imagen-art,
    .imagen-gastro,
    .imagen-fashion {
        height: 150px;
        min-height: 100px;
    }
}

.contact-section {
    background-color: #ffffff;
    padding: 60px 20px;
    color: #003366;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #022460;
}

.contact-section p {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.6;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn {
    background-color: #022460;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #030749;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    text-align: left;
}

.contact-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #003366;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-form,
    .contact-info {
        max-width: 100%;
    }
}

footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-image img {
    width: 250px;
    height: 80%;
    border-radius: 5px;
    margin-top: 25px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding-left: 20px;
}

.footer-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer-text {
    margin-right: 30px;
}

.footer-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-details p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    color: #cccccc;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-image img {
        width: 200px;
        height: 60%;
    }

    .footer-content {
        padding-left: 0;
    }

    .footer-text {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .footer-image img {
        width: 150px;
        height: 50%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        margin-bottom: 20px;
    }
}