@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "MontserratThin";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf)
}

@font-face {
    font-family: "MontserratItalic";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgba(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0,0, 0, 0.2);
    width: 100%;
    z-index: 10;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


.logo {
    display: flex; /* Alinea la imagen y el texto horizontalmente */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    gap: 0.5rem; /* Espacio entre la imagen y el texto */
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-left: 20px;
}

.logo img {
    width: 40px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 40px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    transition: color 0.3s, transform 0.3s;
    position: relative; /* Agrega esta línea para que la línea azul se muestre debajo del link */
}

.nav-links li a:hover {
    color: #0308aa;
    transform: scale(1.1);
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajusta esta línea para que la línea azul se muestre debajo del link */
    width: 0;
    height: 2px;
    background-color: #0308aa; /* Cambia el color de la línea azul a un tono más claro */
    transition: width 0.3s ease-in-out; /* Ajusta la transición para que sea más suave */
}

.nav-links li a:hover::after {
    width: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    margin-top: 0;
}

video.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}

.content h1 {
    font-size: 3rem;
    font-weight: 700;
}

.content p {
    font-size: 1.25rem;
    margin-top: 1rem;
}

body {
    padding-bottom: 100px;
}

.container-text {
    position: relative; /* Para asegurar que el texto esté sobre la imagen de fondo */
    width: 100%; /* Ancho completo */
    height: 50vh; /* Altura completa de la ventana */
    background-image: url('../img/fondo.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0); /* Color del texto */
    font-size: 2.4rem; /* Tamaño del texto */
    font-weight:600;
    font-family: 'Montserrat', sans-serif; /* Fuente del texto */
}


.presentation {
    text-align: center; /* Centra el contenido */
    padding: 2rem 1rem; /* Espaciado interno */
    background-color: #ffffff; /* Color de fondo */
    margin-top: 100px; /* Elimina el margen superior */
}

.presentation h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem; /* Reducido para acercar al h1 */
}

.presentation h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
    margin-top: 0; /* Eliminado para acercar al h2 */
}

.presentation p {
    font-family: 'Montserrat', sans-serif; /* Fuente de la descripción */
    font-size: 1.1rem; /* Tamaño del texto */
    color: #555; /* Color del texto */
    max-width: 800px; /* Limita el ancho del texto */
    margin: 0 auto; /* Centra el párrafo */
    line-height: 1.6; /* Espaciado entre líneas */
}

.pilares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pilar {
    width: 25%;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid rgba(167, 167, 167, 0.822); /* Grosor, estilo y color */
      
}

.cultura {
    width: 100%;
    height: 150px;
    background-image: url('../img/cultura.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.gastronomia {
    width: 100%;
    height: 150px;
    background-image: url('../img/gastronomia.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.paisajes {
    width: 100%;
    height: 150px;
    background-image: url('../img/paisajes.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.moda {
    width: 100%;
    height: 150px;
    background-image: url('../img/moda.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.pilar h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.pilar p {
    font-size: 14px;
    color: #666;
    margin-top: -20px; 
    padding: 10px;
}

.mapa-container {
    width: 100%; /* Ocupa todo el ancho de la página */
    margin-top: 150px; /* Margen superior grande */
    padding: 0; /* Elimina el padding para que ocupe todo el ancho */
}

.mapa-container iframe {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 600px; /* Ajusta la altura según sea necesario */
    border: none; /* Elimina el borde del iframe */
}

.secciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.seccion1 {
    width: 200px; /* Ancho fijo para cada caja */
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 64, 0);
    border: 0.5px solid rgba(167, 167, 167, 0.822); /* Borde sutil */
    text-align: center; /* Centra el contenido */
}
.seccion2 {
    width: 200px; /* Ancho fijo para cada caja */
    color: white;
    border-radius: 10px;
    background-color: rgb(113, 0, 6);
    border: 0.5px solid rgba(167, 167, 167, 0.822); /* Borde sutil */
    text-align: center; /* Centra el contenido */
}
.seccion3 {
    width: 200px; /* Ancho fijo para cada caja */
    color: white;
    border-radius: 10px;
    background-color: rgb(73, 6, 102);
    border: 0.5px solid rgba(167, 167, 167, 0.822); /* Borde sutil */
    text-align: center; /* Centra el contenido */
}
.seccion4 {
    width: 200px; /* Ancho fijo para cada caja */
    color: white;
    border-radius: 10px;
    background-color: rgb(9, 3, 112);
    border: 0.5px solid rgba(167, 167, 167, 0.822); /* Borde sutil */
    text-align: center; /* Centra el contenido */
}

/* Estilos para los títulos h3 dentro de cada sección */
.seccion1 h3,
.seccion2 h3,
.seccion3 h3,
.seccion4 h3 {
    font-size: 18px;
    font-weight: 500; /* Cambia el grosor de la fuente a negrita */
    padding: 10px;
}
/* Clases para las imágenes de fondo */
.naturaleza {
    width: 100%;
    height: 150px;
    background-image: url('../img/naturaleza.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.arteCultura {
    width: 100%;
    height: 150px;
    background-image: url('../img/arteCultura.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.enogastronomia {
    width: 100%;
    height: 150px;
    background-image: url('../img/enogastronomia.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.deportes {
    width: 100%;
    height: 150px;
    background-image: url('../img/deportes.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Estilos generales del footer */
footer {
    background-color: #003366; /* Azul oscuro */
    color: white;
    padding: 20px;
    margin-top: 150px; /* Espacio superior */
}

/* Contenedor del footer */
.footer-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para la imagen */
.footer-image img {
    width: 250px; /* Ajusta el tamaño de la imagen */
    height: 50vh;
    border-radius: 10px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen cubra el espacio */
    opacity: 0.6 /* Opacidad */
}

/* Estilos para el texto */
.footer-text {
    margin-left: 200px; /* Espacio entre la imagen y el texto */
}

.footer-text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-text ul {
    list-style: none;
    padding: 0;
}

.footer-text ul li {
    margin-bottom: 8px;
}

.footer-text ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-text ul li a:hover {
    color: #ffcc00; /* Cambia el color al pasar el mouse */
}